{%- macro render_pagination(pagination) -%}
  <div class="pagination">
  {%- if pagination.has_prev %}
    <a href="{{ pagination.prev|url }}">&laquo; Vorherige</a>
  {%- else %}
    <span class="disabled">&laquo; Vorherige</span>
  {%- endif %} | {{ pagination.page }} | {% if pagination.has_next -%}
    <a href="{{ pagination.next|url }}">Nächste &raquo;</a>
  {%- else -%}
    <span class="disabled">Nächste &raquo;</span>
  {%- endif %}
  </div>
{%- endmacro -%}


{%- macro dayfmt(the_date, fmt='full') -%}
{%- if the_date -%}
<time datetime="{{the_date}}">{{ the_date|dateformat(fmt) }}</time>
{%- endif -%}
{%- endmacro -%}


{%- macro render_blog_post(post, make_link=false) -%}
  <article>
  {%- if make_link %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {%- else %}
    <h2>{{ post.title }}</h2>
  {%- endif -%}
  {%- if post.pub_date %}
    <p class="meta snd">{{ dayfmt(post.pub_date, fmt='full') }}</p>
  {%- endif %}
  {%- if post.body %}
    {{ post.body }}
  {%- endif %}
  </article>
{%- endmacro -%}


{%- macro constrain_img(image, alt, w=None, h=None, mode=None) -%}
  {%- set _mw = 830 - 2 * 40 -%}{#- body max-width minus figure margin -#}
  {%- if not mode -%}

    {%- if w and w < image.width -%}
      {%- set w = _mw if w > _mw else w -%}
    {%- else -%}
      {%- set w = _mw if image.width > _mw else None -%}
    {%- endif -%}

    {%- set h = h if (h and h < image.height) else None -%}
    {%- if w and h -%}
      {%- if h >= (w / image.width * image.height) -%}
        {%- set h = None -%}
      {%- elif w >= (h / image.height * image.width) -%}
        {%- set w = None -%}
      {%- endif -%}
    {%- endif -%}

  {%- endif -%}
  {%- if w or h or image.width > _mw -%}
  <img src="{{ image.thumbnail(width=w, height=h, mode=mode, upscale=False)|url }}" alt="{{ alt }}">
  {%- else %}
  <img src="{{ image|url }}" alt="{{ alt }}">
  {%- endif %}
{%- endmacro -%}
