{%- from "macros/makros.html" import constrain_img, dayfmt -%}
<div class="diy-grid">
  {%- set arr = [] -%}
  {%- for y in site.get('/diy').children -%}
    {%- set arr = arr.append([
      (y.short_title or y.title),
      y.pub_date.strftime('%Y%m%d') if y.pub_date else '30000101',
      y]) -%}
  {%- endfor -%}
  {%- set arr = arr|sort(attribute='0') -%}{#- sort by name -#}

  {%- if this.sort_by == 'by-date-asc' -%}{#- oldest first -#}
    {%- set arr = arr|sort(attribute='1') -%}
  {%- elif this.sort_by == 'by-date-desc' -%}{#- newest first -#}
    {%- set arr = arr|sort(attribute='1', reverse=True) -%}
  {%- endif -%}

  {%- for _, _, x in arr -%}
  {%- set image = x.attachments.get(x.cover) -%}
  <a href="{{ x|url }}"><div>
    {%- if x.pub_date %}
    {{ dayfmt(x.pub_date, fmt='d. MMM YYYY') }}
    {%- endif %}
  	{{- constrain_img(image, w=180, h=120, mode='crop', clickable=False, alt='Anleitung') }}
    <p>{{ x.short_title or x.title }}</p>
  </div></a>
  {%- endfor -%}
</div>