{%- set rss = site.get('/feed.xml') -%}
{%- set head = site.get('/layout-header') -%}
{%- set foot = site.get('/layout-footer') -%}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <title>{% if this._path != '/' %}{% block title %}Willkommen{% endblock %} – {% endif %}{{ head.headtitle }}</title>
  <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ rss.title }}" href="{{ rss|url }}"/>
  {% block head -%}{%- endblock %}
  {%- if head.meta %}
  {{ head.meta }}
  {%- endif %}
</head>
<body>
  <header>
    <h1><a href="{{'/'|url}}">{{ head.pagetitle }}</a></h1>
    <nav class="font">
    {%- if '/' in head.nav_items %}
      <a{% if this._path == '/' %} class="underline"{% endif %} href="{{ '/'|url }}">{{ site.get('/').title }}</a>
    {%- endif %}
    {%- for x in site.get('/').children -%}
      {%- if x.path in head.nav_items %}
      {#%- set has_submenu = x._model == 'menu-page' -%#}
      {%- if x.show_submenu -%}
      <span class="submenu">
        <button class="no-style{% if this.is_child_of(x) %} underline{% endif %}">{{ x.title or x.record_label }}</button>
        <div class="linkbox">
          {%- for y in x.children -%}
          <a{% if this.is_child_of(y) %} class="underline"{% endif %} href="{{ y|url }}">{{ y.title or y.record_label }}</a>
          {%- endfor -%}
        </div>
      </span>
      {%- else -%}
      <a{% if this.is_child_of(x) %} class="underline"{% endif %} href="{{ x|url }}">{{ x.title or x.record_label }}</a>
      {%- endif -%}
      {%- endif %}
    {%- endfor %}
    {%- for x in head.nav_items_additional.blocks %}
      <a href="{{ x.link }}" title="{{ x.title }}" class="halfrm">{{ x.icon }}</a>
    {%- endfor %}
    </nav>
  </header>
  <main>
    {% block body -%}{%- endblock %}
  </main>
  <footer>
    {{ foot.content }}
  </footer>
</body>
</html>
