body {
	font-family: Helvetica Neue, sans-serif;
	max-width: 750px;
	margin: 0 auto;
	padding: 1em 2em;
	background: #FFF; color: #222;
	line-height: 1.4;
}
@media (prefers-color-scheme: dark) {
	body { background: #222; color: #FFF }
}
h1,h2,h3 { margin-top: 1.5em; }
header { margin: 3em 0; }
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: inline;
	margin: 0 8px 0 0;
	padding: 0;
}
footer {
	font-size: 0.8em;
	margin: 3em auto 0;
}

main ul { list-style: 'â‚ '; padding: 0 2em; }
main ::marker { font-size: 1.25em; color: #F39; }

.center,header,footer,.pagination { text-align: center; }
a { color: #F39; text-decoration: none; }
li.active a { text-decoration: underline; }
.pagination,article+article { margin-top: 3em; }

article .meta {
	padding-left: 1em;
	font-size: 0.8em;
	font-style: italic;
	margin-top: -1.3em;
	margin-bottom: 1.7em;
}

.two-column { columns: 2; }
.two-column > p:first-child { margin-top: 0; }
figure { text-align: center; margin-top: 2em; margin-bottom: 2em; }
figcaption { font-style: italic; }
figure img { max-width: 100%; }

svg { fill: #f39; }
li svg { width: 1em; height: 1em; }

.yt-vid { position: relative; min-height: 120px; }
.yt-vid .btn-play { position: absolute; width: 0; height: 0; top: 50%; left: 50%; }
.yt-vid span { font-size: 0.8em; position: absolute; right: .7em; bottom: .5em; }
.yt-vid svg { position: relative; width: 86px; height: 60px; top: -30px; left: -43px; }
.yt-vid img { width: 100%; }

.img-grid-block div {
	display: inline-block;
	width: 150px;
	height: 100px;
	background: #EEE;
	vertical-align: top;
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
}
.img-grid-block img {
	object-fit: scale-down;
	width: 100%;
	height: 100%;
}
.img-grid-block div:hover {
	transform: scale(1.1);
}

/* DIY image grid */
.diy-grid { margin: 0 -9px 3em; }
.diy-grid div { display: inline-block; width: 180px; margin: 6px; vertical-align: top; }
.diy-grid time { display: none; }
.diy-grid img { border-radius: 5px; height: 120px; width: 100%; background: #EEE; }
.diy-grid a:hover img { transform: scale(1.05); }
.diy-grid p { margin: 0 6px; font-size: 0.85em; hyphens: auto; }
